body{
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.content{
    width:100%;
    max-width: 1200px;
    margin: 130px auto;
}

h1{
    text-align: center;
    margin-bottom: 25px;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

form{
    width: 100%;
}

input{
    width: 100%;
    height: 40px;
    background: lightgray;
    font-size: 1.4em;
}

ul{
    list-style-type: none;
    width: 100%;
    padding-left:0;
}

li.note-item{
    position: relative;
    padding: 30px 7px 7px;
    background: lightblue;
    margin: 4px;
    border-radius: 7px;
    min-height:50px;
}

li.note-item span{
    float:right;
}

#map{
    width: 100%;
    height: 550px;
}

.delete-note{
    position: absolute;
    top: 0;
    right: 7px;
}

#statusBar{
    color: #438642;
    width: 100%;
    padding:10px;
    position: fixed;
    bottom: 5px;
}
ul.note-controls{
    list-style-type:none;
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration: none;
    width:100px;
    text-align: center;
}
ul.note-controls li{
    display: inline-block;
    margin-left: 10px;
}
.spinner{
    border-bottom: 5px solid lightgreen;
    width: 80px;
    height: 80px;
    margin: 50px auto;
    border-radius: 50%;
    animation: rotating 0.6s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        border-color: lightgreen;
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        border-color: red;
    }
}

